body {
  font-size: 16px;
  color: #fff;
  background-color: white;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: gray;
  border-radius: 0;
  border: 0;
}


.navbar-brand h1 { 
  font-family: 'Lora', serif;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}


#nav-list {
  margin-top: 0px; 
}
#nav-list a {
  color: black;
  text-align: center;
  
}
#nav-list a:hover {
  background: gray;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -35px;
}

#menu{
  color: black;
  font-size: 3em;
  margin-top: 0px;
}
#main-content{
  width: 100%;
}
#deschick {
  color:black;
  text-align: center;
  font-size: 2em;
}
#desbeef {
  color:black;
  text-align: center;
  font-size: 2em;
}
#dessushi {
  color:black;
  text-align: center;
  font-size: 2em;
}

#recipe{
  color: black;
  padding: 10px;
  margin:20px;

}
#chickdiv{
  background-color:gray;
  margin-top: 2px;
}

#beefdiv{
  background-color:gray;
  margin-top: 2px;
}

#sushidiv{
  background-color:gray;
  margin-top: 2px;
}



